<section class="flex flex-col">
  <h2 class="w-full border-b-3 pb-2 mb-6">Employee Details</h2>
  <div class="flex">
    <section class="w-1/2">
      <dl class="grid grid-cols-[auto_1fr] gap-x-4 gap-y-2">
        <dt class="text-gray-500">Department</dt>
        <dd>{{ employee().department }}</dd>

        <dt class="text-gray-500">Full Name</dt>
        <dd>{{ employee().name }}</dd>
      </dl>
    </section>
    <section class="w-1/2">
      <dl class="grid grid-cols-[auto_1fr] gap-x-4 gap-y-2">
        <dt class="text-gray-500">Email</dt>
        <dd>{{ employee().email }}</dd>
      </dl>
    </section>
  </div>
</section>
