<form class="example-form">
  <mat-form-field class="w-full">
    <mat-label>Receiver</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Email</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Phone</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Street line</mat-label>
    <input matInput />
  </mat-form-field>

  <div class="w-full flex align-center justify-between">
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Postal code</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <mat-form-field class="w-full">
    <mat-label>Country</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Notes</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</form>
