<app-layout>
  <h1 class="text-4xl mb-8">Offboarding</h1>
  <div class="relative">
    <nav
      mat-tab-nav-bar
      mat-stretch-tabs
      [tabPanel]="tabPanel"
      class="stretched-tabs bg-white rounded-t"
    >
      <a mat-tab-link [routerLink]="['employees']"> Employees </a>
    </nav>
    <mat-form-field class="absolute top-0 right-0">
      <input
        matInput
        [(ngModel)]="searchPhrase"
        (ngModelChange)="onFilterChange()"
        placeholder="Search"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet />
    </mat-tab-nav-panel>
  </div>
</app-layout>
