@use '@angular/material' as mat;

:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: orange,
    )
  );
  @include mat.tabs-overrides(
    (
      active-indicator-color: orange,
      divider-color: orange,
    )
  );
}

@import 'tailwindcss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
